.palettes {
  padding: 0.2em;
  background: rgb(0, 0, 0);
  user-select: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

  .palettes > .tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    order: 0;
    flex: 0 1 auto;
    align-self: stretch;
  }

    .palettes > .tabs > li {
      float: left;
      padding: .4em;
      margin-right: 0.2em;
      background: rgb(93, 93, 93);
      border-radius: 0.3em 0.3em 0 0;
      color: rgb(198, 198, 198);
      cursor: pointer;
    }

      .palettes > .tabs > li.selected {
        background: #ccc;
        color: #000;
      }

      .palettes > .tabs > li > input {
        position: relative;
        padding: 0;
        border: none;
      }

  .palettes > .panes {
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);
    border: 0.1em solid #ccc;
    list-style: none;
    color: #fff;
    order: 0;
    flex: 1 1 auto;
    align-self: stretch;
  }

    .palettes > .panes > li {
      box-sizing: border-box;
      height: 100%;
      padding: .4em;
      display: none;
      overflow: hidden;
    }

      .palettes > .panes > li.selected {
        display: block;
      }

      .palettes > .panes > li.dragover {
        background: rgb(25, 25, 25);
      }

.waveform-controller {
  position: relative;
  border: 0.1em solid grey;
}

  .waveform-controller .position-slider {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
  }

  .waveform-controller .zoom-slider {
    -webkit-appearance: slider-vertical;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 16px;
    height: 100%;
  }