.layout {
  box-sizing: border-box;
  padding: .4em;
  height: 100%;
  background: rgb(75, 75, 75);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;

  > *:nth-child(1) {
    margin-right: .4em;
    order: 0;
    flex: 0 1 auto;
    align-self: stretch;
  }

  > *:nth-child(2) {
    order: 0;
    flex: 1 1 auto;
    align-self: stretch;
    width: 0;
  }

}